
body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

ul, ol {
 list-style-type: none;
}

a {
   text-decoration: none;
}

.logo {
   font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
}
.header-logi, .logo-part {
color: #2e2f42;
}

.nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
}
.nav-link:hover, 
.nav-link:focus, 
.nav-link:hover,
.contacts-link:focus,
.contacts-link:hover {
   color: #404bbf;
}

.contacts {
   font-style: normal;
}

.contacts-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;   
}

.section {
   background: #2e2f42;
}

.features-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07143;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
}

.button-section:hover,
.button-section:focus  {
   background: #4d5ae5;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      cursor: pointer
}
.features-title {
width: 264px;
   height: 104px;
}  

.team-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11111;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
}

.team-text {
   text-align: center;
}
.page-footer {
   background: #2e2f42;
}

.footer-down {
   font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
}

.footer-span {
   font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.16667;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #f4f4fd;
}

.footer-text {
   font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
}

.footer-span {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #f4f4fd;
}

.section-team {
   background-color: #f4f4fd
}

.section-logo {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.0;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
}

.team-card {
   background-color: #fff
}

.team-portfolio {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
}

.features-title {
   color: #2e2f42;
}
